*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
}
body{
    margin: 100px !important ;
}
.respond{
    margin-top: 40px;
    margin: 10px;
    position: relative;
}

  .respond input[type='text'],
  .respond input[type='email']
  {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    line-height: 1.9rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
.btn-1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30px !important;
    background-color: #FDCE10 !important ;
    border-color: #FDCE10;
    border-style: none;
    font-weight: bolder;
}   
.btn-1:hover{
    background-color: khaki !important;
}
.respond h3{
    text-align: center;
    padding:20px;
    font-size: 2.5rem;
    font-weight: lighter;
}
.form label{
    font-size: 1.2rem;
    font-weight: lighter;
}

